.button {
  width: 15%;
  min-width: 48px;
  min-height: 48px;
  color: $button-textcolor;
  border: 2px solid $textbox-bordercolor;
  border-radius: 10px;
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.button:hover,
.button:focus {
  filter: brightness(120%);
  box-shadow: 4px 2px 5px #000;
}
